#navbar{
    display: flex  ;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
span:hover{
        background-color: red;
        cursor: pointer;
        height: 80px;
        display: flex  ;
    color: white;
    justify-content: space-around;
    align-items: center;
        width: 150px;
}